NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=YOUR-WALLET-CONNECT-PROJECT-ID
NEXT_PUBLIC_LIVE_PRICES=YOUR-LIVE-PRICES-URL
XLSX_FILE_URL=YOUR-XLSX-FILE-URL
INTERNAL_API_TOKEN=YOUR-INTERNAL-API-TOKEN
NEXT_PRIVATE_KEY=YOUR-NEXT-PRIVATE-KEY
BLOB_READ_WRITE_TOKEN=YOUR-BLOB-READ-WRITE-TOKEN
NEXT_STAGING_PASSWORD=YOUR-NEXT-STAGING-PASSWORD
NEXT_PUBLIC_BANDIT_KEY=YOUR-NEXT-PUBLIC-BANDIT-KEY
NEXT_INFURA_KEY=YOUR-NEXT-INFURA-KEY
DB_USER=YOUR-DB-USER
DB_HOST=YOUR-DB-HOST
DB_DATABASE=YOUR-DB-DATABASE
DB_PASSWORD=YOUR-DB-PASSWORD
DB_PORT=YOUR-DB-PORT

# Veltet capital

NEXT_PUBLIC_VELVET_CAPITAL_EVENTS_BASE_API_URL=YOUR-VELVET-CAPITAL-EVENTS-BASE-API-URL
NEXT_PUBLIC_VELVET_CAPITAL_BASE_API_URL=YOUR-VELVET-CAPITAL-BASE-API-URL
NEXT_PUBLIC_VELVET_CAPITAL_OWNER_WALLET=YOUR-VELVET-CAPITAL-OWNER-WALLET
NEXT_PUBLIC_VELVET_CAPITAL_PORTFOLIO_ID=YOUR-VELVET-CAPITAL-PORTFOLIO-ID
NEXT_PUBLIC_VELVET_CAPITAL_PORTFOLIO=YOUR-VELVET-CAPITAL-PORTFOLIO
NEXT_PUBLIC_VELVET_CAPITAL_VAULT=YOUR-VELVET-CAPITAL-VAULT