.classic {
  --color-darkness: #161a1d;
  --color-smoke: #111111;
  --color-carmesi: #ef233c;
  --color-white: #ffffff;
  --color-greySmoke: #666666;
}

.pro {
  --color-darkness: #161a1d;
  --color-smoke: #111111;
  --color-carmesi: #1985a1;
  --color-white: #ffffff;
  --color-greySmoke: #666666;
}
