.container {
  height: 50px;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 25px !important;
  border-bottom: 1px solid var(--color-border-light);
  box-shadow: var(--main-shadow);
  padding-right: 4px;
  background-color: var(--color-background-default);
}

.element {
  padding: 0;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.container,
.element {
  display: flex;
  align-items: center;
}
