.headerContainer {
  display: flex;
  padding: var(--space-2) var(--space-2) 0 var(--space-2);
  justify-content: flex-end;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: aqua;
}

.headerContent {
  display: inline-flex;
  padding-left: var(--space-1);
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: var(--space-2);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.sidebar {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: aquamarine;
}

.main {
  background-color: var(--color-background-default);
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
}
