.headerContainer {
  padding: var(--space-2) var(--space-2) 0 var(--space-2);
  justify-content: flex-end;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: var(--color-background-default);
}

.headerContent {
  display: inline-flex;
  padding-left: var(--space-1);
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  gap: var(--space-2);
}

.header {
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

.sidebar {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
}

.main {
  background-color: var(--color-background-main);
  height: 100vh;
  flex-direction: column;
  padding-left: 240px;
}

.content {
  flex: 1;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
}

.cards {
  background-color: var(--color-background-main);
  padding: var(--space-1) var(--space-3);
  margin: var(--space-3) var(--space-1);
  border-radius: var(--space-1);
}

.cardsContainer {
  justify-content: space-between;
}

.card {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--space-1);
  background-color: var(--color-background-default);
  margin-bottom: var(--space-2);
}

.headerContainer,
.header,
.main,
.content,
.cards,
.cardsContainer,
.card {
  display: flex;
}
